<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- <title>Audit Tracker Team Notification</title> -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        Dear <span th:text="${assigneeUser.firstName}"></span>,<br>
        <p>
          You had been assigned audit <b><span th:text="${auditPlanEntity}"></span></b> the same has not been closed / completed as per the tracker. Kindly close the same at the earliest.
        </p>
        <p>
            <span>Regards,</span>
            <br/>
            <em><span th:text="${currentUserName}"></span></em>
        </p>
    </body>
</html>
